:root {
  --background-color: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: white;
  overflow-x: hidden;
  background-color: #393e46;
}
.logo {
  margin-left: 5%;
}
nav {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 4rem;
  font-size: 1.5rem;

  background-color: rgba(0, 0, 0, 0.68);
  backdrop-filter: blur(20px);

  font-family: "Segoe UI", Tahoma, sans-serif;
  /* position: relative; */
  position: sticky;
  top: 0;
}

a,
a::before,
a::after {
  text-decoration: none;
  color: white;
}

.element {
  width: 70%;
  font-size: large;
}

.listnav {
  list-style: none;
  display: flex;
  width: 100%;
  /* border: 2px solid gray; */
  justify-content: space-around;
  align-items: center;
}
.menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 35em) {
  .listnav {
    /* display: none; */
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    inset: 0 0 0 40%;
    height: 100vh;
    width: auto;

    /* border: 1px solid red; */
    transform: translateX(100%);
    background-color: #ffffff0d;
    backdrop-filter: blur(70%);
  }
  .element [data-expanded="true"] {
    animation: navigation 0.7s ease forwards;
  }

  @keyframes navigation {
    to {
      transform: translateX(0%);
    }
  }

  .menu {
    display: block;
    border: none;
    background: transparent;
    position: absolute;
    right: 1.5rem;
    z-index: 999;
  }
}

.hero-text {
  text-align: center;
  margin: 7vh 0;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: min(1.5rem, 1.5vw);

  text-decoration: underline;
  text-decoration-color: khaki;
  text-underline-offset: 1vh;

  transition: all 0.5s ease-in-out;
  cursor: none;
}

.hero-text:hover {
  text-decoration-color: steelblue;
}

.hero-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-description_text {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.3vw;
  max-width: 50vw;
}

.hero-image img {
  width: min(20rem, 30vw);
  height: auto;
}

@media (max-width: 35em) {
  .hero-description {
    flex-direction: column;
  }
  .hero-description_text {
    margin: 10vw;
  }
}
